@charset "utf-8";
.h {
	font-family: Verdana, Geneva, sans-serif;
}
.h11 {
	font-family: Arial Black, Gadget, sans-serif;
}
.h11 {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
.h11 {
	font-family: 方正兰亭准黑_GBK, 思源宋体 CN, 微软雅黑 Light;
}
.MSYH {
	font-family: "微软雅黑";
}
